/*
  Most CSS should be applied using the utilites in utilities.css.
  This file contains exceptions, usually because they have comlpex selectors
  or require out-of-grid or otherwise unorthodox values.
 */

.gl-content-box {
  width: 352px !important;
}

.gl-collapsed {
  right: -352px !important;
}
