/* Borders */
.gl-border-none {
  border: none !important;
}

.gl-border-gray-200 {
  border-color: #dfdfdf !important;
}

.gl-border-red-500 {
  border-color: #db3b21 !important;
}

.gl-border-left-gray-200 {
  border-left-color: #dfdfdf !important;
}

.gl-border-solid {
  border-style: solid !important;
}

.gl-border-left-solid {
  border-left-style: solid !important;
}

.gl-border-w-1 {
  border-width: 1px !important;
}

.gl-border-top-1 {
  border-top: 1px solid;
}

.gl-border-r-1 {
  border-radius: 4px !important;
}

.gl-border-rl-1 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.gl-border-rl-2 {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

/* Cursors */

.gl-pointer {
  cursor: pointer !important;
}

/* Colors */

.gl-white {
  color: #ffffff !important;
  fill: #ffffff !important;
}

.gl-gray-900 {
  color: #2e2e2e !important;
  fill: #2e2e2e !important;
}

.gl-gray-700 {
  color: #707070 !important;
  fill: #707070 !important;
}

.gl-blue-600 {
  color: #1b69b6 !important;
  fill: #1b69b6 !important;
}

/* Colors: Background */

.gl-bkg-white {
  background-color: #ffffff !important;
}

.gl-bkg-gray-50 {
  background-color: #fafafa !important;
}

.gl-bkg-red-500 {
  background-color: #db3b21 !important;
}

/* Box-shadow */

.gl-shadow {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

/* Layout & Position */

.gl-fixed {
  position: fixed !important;
}

.gl-bottom-3 {
  bottom: 16px !important;
}

.gl-top-half {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.gl-right-0 {
  right: 0px !important;
}

.gl-right-3 {
  right: 16px !important;
}

.gl-visibility-hidden {
  visibility: hidden !important;
}

.gl-visibility-visible {
  visibility: visible !important;
}

.gl-display-none {
  display: none !important;
}

.gl-inline-block {
  display: inline-block !important;
}

.gl-inline-flex {
  display: inline-flex !important;
}

.gl-flex {
  display: flex !important;
}

.gl-flex-column {
  flex-direction: column !important;
}

.gl-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.gl-align-baseline {
  align-items: baseline !important;
}

.gl-align-center {
  align-items: center !important;
}

.gl-align-self-center {
  align-self: center !important;
}

.gl-justify-content-between {
  justify-content: space-between !important;
}

.gl-justify-center {
  justify-content: center !important;
}

.gl-justify-flex-end {
  justify-content: flex-end !important;
}

.gl-overflow-auto {
  overflow: auto !important;
}

.gl-overflow-hidden {
  overflow: hidden !important;
}

.gl-z-top {
  /* toolbar should always be on top */
  z-index: 9999 !important;
}

/* Spacing: Padding & Margin */
/* 0:0, 1: 4px, 2: 8px, 3: 16px, 6: 40px, 8: 56px, max: 352px */
.gl-m-0 {
  margin: 0 !important;
}

.gl-mr-05 {
  margin-right: 2px !important;
}

.gl-mr-3 {
  margin-right: 16px !important;
}

.gl-mb-0 {
  margin-bottom: 0 !important;
}

.gl-mb-1 {
  margin-bottom: 4px !important;
}

.gl-mb-2 {
  margin-bottom: 8px !important;
}

.gl-mb-6 {
  margin-bottom: 24px !important;
}

.gl-mt-1 {
  margin-top: 4px !important;
}

.gl-mt-2 {
  margin-top: 8px !important;
}

.gl-mt-3 {
  margin-top: 16px !important;
}

.gl-mt-4 {
  margin-top: 24px !important;
}

.gl-ml-auto {
  margin-left: auto !important;
}

.gl-ml-0 {
  margin-left: 0px !important;
}

.gl-ml-3 {
  margin-left: 16px !important;
}

.gl-ml-6 {
  margin-left: 40px !important;
}

.gl-my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.gl-my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.gl-p-1 {
  padding: 4px !important;
}

.gl-p-2 {
  padding: 8px !important;
}

.gl-p-3 {
  padding: 16px !important;
}

.gl-pl-2 {
  padding-left: 8px !important;
}

.gl-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gl-px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.gl-px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.gl-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.gl-py-05 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.gl-py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.gl-box-sizing-border-box {
  box-sizing: border-box;
}

/* Spacing: Height */

.gl-h-5 {
  height: 32px !important;
}

.gl-max-h-8 {
  max-height: 56px !important;
}

.gl-max-h-34 {
  max-height: 272px !important;
}

.gl-max-h-max {
  max-height: 352px !important;
}

.gl-min-h-5 {
  min-height: 32px !important;
}

/* Spacing: Width */

.gl-w-3 {
  width: 16px !important;
}

.gl-w-35 {
  width: 20px !important;
}

.gl-w-4 {
  width: 24px !important;
}

.gl-w-5 {
  width: 32px !important;
}

.gl-w-100p {
  width: 100% !important;
}

.gl-max-w-8 {
  max-width: 56px !important;
}

.gl-max-w-30 {
  max-width: 240px !important;
}

.gl-max-w-34 {
  max-width: 272px !important;
}

.gl-max-w-40 {
  max-width: 352px !important;
}

.gl-max-w-max {
  max-width: 400px !important;
}

/* Typography */

.gl-text-base {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

.gl-text-small {
  font-size: 12px !important;
  line-height: 16px !important;
}

.gl-text-normal {
  font-size: 14px !important;
  line-height: 16px !important;
}

.gl-text-large {
  font-size: 16px !important;
  line-height: 16px !important;
}

.gl-line-height-normal {
  line-height: 12px;
}

.gl-text-light {
  font-weight: 300 !important;
}

.gl-text-heavy {
  font-weight: 600 !important;
}

.gl-no-underline {
  text-decoration: none !important;
}

.gl-underline-hover {
  text-decoration: none !important;
}

.gl-underline-hover:hover {
  text-decoration: underline !important;
}

.gl-transition-right {
  transition: right 200ms ease-out !important;
}

.gl-writing-mode-sideways-lr {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.gl-text-overflow-ellipsis {
  text-overflow: ellipsis !important;
}

.gl-white-space-nowrap {
  white-space: nowrap !important;
}

.gl-resize-none {
  resize: none !important;
}
